extends ../layout

block content
  .container
    p.text-center
      small Job Id: #{jobId}
    .form-horizontal
      #detail.col-xs-12.col-sm-6.col-sm-offset-3
        include detail-template.pug
        .text-center.padding-sm
            a.btn.btn-primary.margin-xs(href='#', onclick='goBack()', id='btnGoBack') Kembali
            a.btn.btn-primary.margin-xs(href='/jobs') Laman Utama
