#previewModal.modal.fade(tabindex='-1')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          span &times;
        h4 
          span(id='modal-title')
      .modal-body.post-preview
        .form-horizontal
          include detail-template.pug
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
